<template>
<div>
  <p>
    Completed Tasks:
    {{completedCount()}}
  </p>
  <p>
    Pending Tasks: 
    {{todos.filter(todo => {return todo.done === false}).length}}
  </p>
  <todo 
       v-for="todo in todos"
       v-bind:key="todo"
       v-bind:todo="todo"
       v-on:delete-todo="deleteTodo"
       v-on:complete-todo="completeTodo">
  </todo>
</div>
</template>
<script>
import Todo from './Todo';

export default {
  props: ['todos'],
  components: {
    Todo,
  },
  methods: {
    completedCount() {
      return this.todos.filter(todo => todo.done === true).length;
    },
    deleteTodo(todo) {
      const idx = this.todos.indexOf(todo);
      this.todos.splice(idx, 1);
    },
    completeTodo(todo) {
      const idx = this.todos.indexOf(todo);
      this.todos[idx].done = true;
    },
  },
};
</script>
<style>

</style>
