<template>
<div class='ui centered card'>
  <div class='content' v-show="!isEditing">
    <div class='header'>
      {{ todo.title }}
    </div>
    <div class='meta'>
      {{ todo.project }}
    </div>
    <div class='extra content'>
      <span class='edit icon' v-on:click="showForm()">
        <i class='edit icon'></i>
      </span>
      <span class='delete icon' v-on:click="deleteTodo(todo)">
        <i class='delete icon'></i>
      </span>
    </div>
    <div class='ui bottom attached green basic button' v-show="todo.done">
      Completed
    </div>
    <div class='ui bottom attached red basic button'
         v-show="!todo.done"
         v-on:click="completeTodo(todo)">
      Complete
    </div>
  </div>
  <div class="content" v-show="isEditing">
    <div class='ui form'>
      <div class='field'>
        <label>Title</label>
        <input type='text' v-model="todo.title" >
      </div>
      <div class='field'>
        <label>Project</label>
        <input type='text' v-model="todo.project" >
      </div>
      <div class='ui two button attached buttons'>
        <button class='ui basic blue button' v-on:click="hideForm">
          Close X
        </button>
      </div>
    </div>
  </div>
  <div class='ui bottom attached green basic button' v-show="!isEditing && todo.done" disabled>
      Completed
  </div>
  <div class='ui bottom attached red basic button' v-show="!isEditing && !todo.done">
      Pending
  </div>
</div>
</template>

<script>
export default {
  props: ['todo'],
  data() {
    return {
      isEditing: false,
    };
  },
  methods: {
    showForm() { this.isEditing = true; },
    hideForm() { this.isEditing = false; },
    completeTodo(todo) {
      this.$emit('complete-todo', todo);
    },
    deleteTodo(todo) {
      this.$emit('delete-todo', todo);
    },
  },
};
</script>
